In [1]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
iris = load_iris()
X = iris.data
y = iris.target

In [3]:
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

In [5]:
estimators_list = [10, 20, 50, 100, 150]
scores = {}

for n in estimators_list:
    model = RandomForestClassifier(n_estimators=n, random_state=42)
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    scores[n] = score
    print(f"n_estimators = {n}, Accuracy = {score:.4f}")

n_estimators = 10, Accuracy = 0.9867
n_estimators = 20, Accuracy = 0.9867
n_estimators = 50, Accuracy = 0.9867
n_estimators = 100, Accuracy = 0.9867
n_estimators = 150, Accuracy = 0.9867

In [6]:
best_n = max(scores, key=scores.get)
best_score = scores[best_n]

In [7]:
print(f"Highest Accuracy: {best_score:.4f}")
print(f"Best n_estimators: {best_n}")

Highest Accuracy: 0.9867
Best n_estimators: 10